extends layouts/frontend

block content
        form(method="post", action="/login/").form.top3
            div.flux
                div.form-input
                    label(for='email')
                        img(src='http://localhost:8000/image/user.png')
                    input#email(type='email', placeholder='Email', name='email', required)
                div.form-input
                    label(for='password')
                        img(src='http://localhost:8000/image/lock.png')
                    input#password(type='password', placeholder='Mot de passe', name='password', required)
            button(type="submit") Connexion
            